 <div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <img src="/assets/img/UML.png" width="75" height="75" class="user-image" style="vertical-align:-4%">
      <p>These are object-oriented languages for programming and design. intelligentsia cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
	<div class="tech">
      <h2>Design & Art</h2>
      <img src="/assets/img/Software Ideas Modeler.png" width="75" height="75" class="user-image" style="vertical-align:-3.5%">
      <i class="devicon-blender-plain colored"></i>
      <i class="devicon-gimp-plain colored" style="color:#474233"></i>
      <p>UML tool. hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-unity-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-sourcetree-plain colored"></i>
      <p>Our Game Engine, IDE and Git version control software of choice! intelligentsia cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Other Tools</h2>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-dot-net-plain colored"></i>
      <p>Github is where we host our repositories, loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
