 <div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <img src="/assets/img/UML.png" width="75" height="75" class="user-image" style="vertical-align:-4%">
      <p>An object-oriented programming language (C#, aka C-Sharp) and Unified Modeling Language for object-oriented design. We do our best to stay up-to-date with all the latest features. High quality code guaranteed! And we ofcourse always aim to make a quick job of it.</p>
    </div>
	<div class="tech">
      <h2>Design & Art</h2>
      <img src="/assets/img/Software Ideas Modeler.png" width="75" height="75" class="user-image" style="vertical-align:-3.5%">
      <i class="devicon-blender-plain colored"></i>
      <i class="devicon-gimp-plain colored" style="color:#474233"></i>
      <p>Software Ideas Modeler is an UML tool, Blender is used to make 3D models and GIMP is for raster art. We take our time to deal with every aspect of the design process. For each game we make a GDD and a TDD in LibreOffice Writer. Design docs made with the utmost care!</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-unity-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-sourcetree-plain colored"></i>
      <p>The game engine: <i>Unity</i>, IDE: <i>Visual Studio</i> and Git version control software: <i>SourceTree</i>. These are our main tools of choice for game development and they are also very mainstream in the industry. We speed up the development process with asset stores and outsourcing.</p>
    </div>
    <div class="tech">
      <h2>Other Tools</h2>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-dot-net-plain colored"></i>
      <p>Github is where we host our repositories, Trello is where we do our Agile planning and we also use the .NET framework a lot. And we publish our games solely on Steam, the largest digital distribution platform for PC gaming. One we all know and love, atleast we do!</p>
    </div>
</div>
