<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
		<a aria-label="Discord" target="_blank" href="https://discord.gg/DxZerkTEEE"><i class="icon fa fa-hashtag" aria-hidden="true"></i></a>
		<a aria-label="YouTube" target="_blank" href="https://youtube.com/BlissForge"><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
		<a aria-label="Facebook" target="_blank" href="https://facebook.com/BlissForge7"><i class="icon fa fa-facebook-square" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/BlissForge7"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://instagram.com/BlissForge7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
		<a aria-label="PayPal" target="_blank" href="https://paypal.me/LorenzoPappalettera"><i class="icon fa fa-paypal" aria-hidden="true"></i></a>
		<a aria-label="Email" href="mailto:lorenzo.pappalettera@gmail.com"><i class="icon fa fa-at"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us  <span style="color:cyan">⏎</span></a>
        <a class="link" href="#projects" data-scroll>Projects  <span style="color:cyan">⏎</span></a>
      </div>
  </div>
  <!--<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
