<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VOXEL WAR" src="{{ "/assets/img/screenshot1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> VOXEL WAR </h3>
    <!--<ul>
      <li> Our very first game!</li>
    </ul>-->
    <p>In this game you are Earth's defender who goes on a mission to save the planet from alien invaders! A first-person shooter based on a 1980 computer game called "Centipede". It's a fast-paced game where you have to focus on tactically shooting as many enemies as possible and as fast as possible, so they won't escape and cause mayhem.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
    <a class="project-link" href="#" onclick="return false;">Check it out (soon available, come back later)</a>
  </div>
</div>
<!--<div class="user-projects">
  <div class="images-left">
    <img alt="PLACEHOLDER" src="{{ "/assets/img/screenshot1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Content</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>-->
